*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: gainsboro;
}

body {
    --very-dark-background: #292a2a;
    --moderate-dark-background: #2b2c2c;
    --subtle-dark-background: #2d2e2e;

    --moderate-padding: 4rem;
    --minimal-padding: 2rem;

    --larger-font-size: 4rem;
    --large-font-size: 2rem;
    --medium-font-size: 1.2rem;
    --small-font-size: 1rem;

    --gray-font-color: #888;
    --primary-accent-color: cyan;
    --secondary-accent-color: yellowgreen;

    --default-line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #eeeeee;
    transition: color 650ms;
}

ul {
    list-style: none;
}

h6 {
    text-transform: uppercase;
    font-size: var(--small-font-size);
    color: gray;
}

i {
    transition: color 650ms;
    cursor: pointer;
    padding: 0.8rem 0;
}

i:hover {
    color: var(--primary-accent-color);
}

.generic-container {
    display: flex;
}

.generic-container .left-container {
    width: 30%;
    position: relative;
    background: var(--moderate-dark-background);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
    padding: var(--moderate-padding);
}

.generic-container .right-container {
    width: 70%;
    position: relative;
    padding: var(--moderate-padding);
    background: var(--subtle-dark-background);
}

/* End generic styling */

/* Start Header */

.header-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-container img {
    border: 2px solid white;
    border-radius: 100%;
}

.my-photo {
    width: 12rem;
    height: 12rem;
}

.first-name {
    font-size: var(--larger-font-size);
    color: var(--primary-accent-color);
}

.last-name {
    font-size: var(--larger-font-size);
    color: var(--gray-font-color);
}

.short-description {
    font-size: var(--large-font-size);
    padding: 0 0 0 0.2rem;
}

.quick-links {
    display: flex;
}

.quick-links li {
    font-size: 2rem;
    padding: 2rem 1rem;
}

.more-details {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 4rem;
    margin-bottom: 2rem;
    display: flex;
    border-top: 2px solid var(--gray-font-color);
}

.extra-detail {
    padding: 2rem;
}

.more-details-title {
    margin-bottom: 1.5rem;
    font-size: var(--medium-font-size);
    font-weight: 100;
    color: var(--gray-font-color);
}

.extra-detail p {
    font-size: var(--small-font-size);
    font-weight: 700;
    color: #eeeeee;
    transition: color 650ms;
    cursor: pointer;
}

.extra-detail p:hover,
.extra-detail a:hover {
    color: var(--secondary-accent-color);
}

/* Start About */

.about-container .left-container {
    background: var(--very-dark-background);
    line-height: var(--default-line-height);
}

.about-container .right-container {
    background: var(--moderate-dark-background);
}

.about-container .left-container p {
    font-size: var(--tiny-font-size);
}

.about-container .right-container p {
    padding: 0 var(--minimal-padding);
    line-height: var(--default-line-height);
}

/* End About */

/* Start Projects */

.projects-container .left-container p {
    font-size: var(--tiny-font-size);
    line-height: var(--default-line-height);
}

.projects-container .right-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

.projects-container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--minimal-padding);
}

.project-item {
    display: flex;
    flex-direction: column;
    line-height: var(--default-line-height);
    max-width: 18rem;
    color: gainsboro;
}

.project-item h6 {
    color: var(--primary-accent-color);
    transition: color 650ms;
    cursor: pointer;
}

.project-item img {
    max-width: 10rem;
}

.project-item i {
    font-size: 2.8rem;
    margin-top: -0.4rem;
}

.project-item h6:hover {
    color: white;
}

/* End Projects */

/* Start Skills */

.skills-container .left-container {
    background: var(--very-dark-background);
    line-height: var(--default-line-height);
}

.skills-container .right-container {
    background: var(--moderate-dark-background);
}

.skills-container .left-container p {
    font-size: var(--tiny-font-size);
}

/* End Skills */

/* Start Copyright */

.copyright {
    background-color: var(--very-dark-background);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

/* End Copyright */
