*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: gainsboro;
}

body {
    --very-dark-background: #292a2a;
    --moderate-dark-background: #2b2c2c;
    --subtle-dark-background: #2d2e2e;

    --moderate-padding: 4rem;
    --minimal-padding: 2rem;
    --tiny-padding: 0.2rem;

    --minimal-margin: 0.8rem;

    --larger-font-size: 4rem;
    --large-font-size: 2rem;
    --medium-font-size: 1.2rem;
    --small-font-size: 1rem;
    --tiny-font-size: 0.8rem;

    --gray-font-color: #999;
    --primary-accent-color: cyan;
    --secondary-accent-color: yellowgreen;

    --default-line-height: 1.5rem;
    --minimal-line-height: 1rem;
}

a {
    text-decoration: none;
    color: #eeeeee;
    transition: color 650ms;
}

ul {
    list-style: none;
}

h6 {
    text-transform: uppercase;
    font-size: var(--small-font-size);
    color: #aaa;
}

i {
    transition: color 650ms;
    cursor: pointer;
    padding: 0.8rem 0;
}

p {
    text-align: justify;
}

i:hover {
    color: var(--primary-accent-color);
}

.generic-container {
    display: flex;
}

.generic-container .left-container {
    width: 30%;
    position: relative;
    background: var(--moderate-dark-background);
    display: flex;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
    padding: var(--moderate-padding);
}

.generic-container .left-container p {
    font-size: var(--tiny-font-size);
    line-height: var(--minimal-line-height);
    text-align: right;
}

.generic-container .right-container {
    width: 70%;
    position: relative;
    padding: var(--moderate-padding);
    background: var(--subtle-dark-background);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--minimal-padding);
    position: relative;
}

.progress-bar {
    width: 70%;
    height: 0.5rem;
    background-color: gray;
    border-radius: 1rem;
    margin-top: var(--minimal-margin);
}

.progress-bar::before {
    content: "";
    background-color: var(--primary-accent-color);
    width: calc(var(--width, 0) * 1%);
    height: 0.5rem;
    min-width: 2rem;
    max-width: calc(var(--progress, 100) * 1%);
    border-radius: 1rem;
    display: flex;
}

/* End generic styling */

/* Start Header */

.header-container {
    height: 100vh;
}

.header-container .left-container {
    width: 30%;
    position: relative;
    background: var(--moderate-dark-background);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: var(--moderate-padding);
}

.header-container .left-container img {
    border: 2px solid white;
    border-radius: 100%;
}

.header-container .right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.my-photo {
    width: 12rem;
    height: 12rem;
}

.first-name {
    font-size: var(--larger-font-size);
    color: var(--primary-accent-color);
}

.last-name {
    font-size: var(--larger-font-size);
    color: var(--gray-font-color);
}

.short-description {
    font-size: var(--large-font-size);
    padding: 0 0 0 0.2rem;
}

.quick-links {
    display: flex;
}

.quick-links li {
    font-size: 2rem;
    padding: 2rem 1rem;
}

.more-details {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.extra-detail {
    padding: 2rem 2rem 0 0;
}

.more-details-title {
    margin-bottom: 1.5rem;
    font-size: var(--small-font-size);
    font-weight: 100;
    color: var(--gray-font-color);
}

.extra-detail p {
    font-size: var(--small-font-size);
    font-weight: 700;
    color: #eeeeee;
    transition: color 650ms;
    cursor: pointer;
}

.extra-detail p:hover,
.extra-detail a:hover {
    color: var(--secondary-accent-color);
}

/* Start About */

.about-container .left-container {
    background: var(--very-dark-background);
    line-height: var(--default-line-height);
}

.about-container .right-container {
    background: var(--moderate-dark-background);
}

.about-container .right-container p {
    padding: 0 var(--minimal-padding);
    line-height: var(--default-line-height);
}

/* End About */

/* Start publications */

.pub-item {
    display: flex;
    justify-content: flex-start;
}

.pub-item-rectangle img {
    width: 12rem;
    height: 4rem;
}

.pub-item-circular img {
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    border: 1px solid white;
}

.pub-image-item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
}

.publications-container .right-container {
    padding: var(--moderate-padding);
}

.publications-container .right-container .pub-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--gray-font-color);
    line-height: var(--default-line-height);
}

.publications-container .row {
    flex-direction: column;
}

.pub-description h6 {
    color: var(--primary-accent-color);
}

.pub-description p {
    margin-top: 1rem;
}

.pub-description .pub-link {
    margin-top: 1rem;
}

.pub-link a {
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    font-weight: 700;
    transition: color 650ms;
}

.pub-link a:hover {
    color: white;
}

/* End publications */

/* Start Projects */

.projects-container .left-container {
    background: var(--very-dark-background);
}

.projects-container .right-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--moderate-dark-background);
}

.project-item {
    display: flex;
    flex-direction: column;
    line-height: var(--default-line-height);
    max-width: 18rem;
    color: gainsboro;
}

.project-item h6 {
    color: var(--primary-accent-color);
    transition: color 650ms;
    cursor: pointer;
}

.project-item img {
    max-width: 10rem;
    margin-left: -0.75rem;
    margin-top: 0.2rem;
}

.project-item i {
    font-size: 2.8rem;
    margin-top: -0.4rem;
}

.project-item h6:hover {
    color: white;
}

/* End Projects */

/* Start Skills */

.skill-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* End Skills */

/* Start experience */

.experience-container .left-container {
    background: var(--very-dark-background);
}

.experience-container .right-container {
    padding-bottom: 0;
    background: var(--moderate-dark-background);
}

.experiences {
    border-left: 4px solid var(--gray-font-color);
}

.experiences p {
    width: 60%;
    color: var(--gray-font-color);
    line-height: var(--default-line-height);
    padding-left: var(--minimal-padding);
}

.experiences .row {
    padding-top: 0;
    padding-bottom: var(--minimal-padding);
}

.exp-dates-location {
    color: var(--gray-font-color);
    font-size: var(--tiny-font-size);
    padding: var(--tiny-padding);
}

.experience-titbit {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--minimal-padding);
}

.experience-titbit::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    left: -0.55rem;
    top: 0.2rem;
    box-shadow: 0 0 0 6px var(--subtle-dark-background);
    background-color: var(--primary-accent-color);
}

.exp-title {
    padding: var(--tiny-padding);
    text-transform: uppercase;
}

.exp-position {
    padding: var(--tiny-padding);
    font-size: var(--tiny-font-size);
}

/* End experience */

/* Start education */

.education-container .right-container {
    padding-top: 0;
}

.educations {
    border-left: 4px solid var(--gray-font-color);
}

.educations p {
    width: 60%;
    color: var(--gray-font-color);
    line-height: var(--default-line-height);
    padding-left: var(--minimal-padding);
}

.educations .row {
    padding-bottom: var(--minimal-padding);
}

.education-titbit {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--minimal-padding);
}

.education-titbit::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    left: -0.55rem;
    top: 2.4rem;
    box-shadow: 0 0 0 6px var(--subtle-dark-background);
    background-color: var(--primary-accent-color);
}

.educations::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 0.2rem;
    left: 3.6rem;
    bottom: 3.8rem;
    background-color: var(--gray-font-color);
}

/* End education */

/* Start Contact */

.contact-container .left-container {
    background: var(--very-dark-background);
}

.education-container .right-container {
    background: var(--moderate-dark-background);
}

/* Start Copyright */

.copyright {
    background-color: var(--very-dark-background);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

/* End Copyright */

@media screen and (min-width: 1200px) {
    .more-details {
        width: 90%;
        border-top: 2px solid var(--gray-font-color);
    }
}

@media screen and (max-width: 1200px) {
    .header-container {
        flex-direction: column;
        height: 100%;
    }

    .header-container .left-container,
    .header-container .right-container {
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 2rem 0;
    }

    .more-details {
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    .generic-container .right-container {
        padding: 1rem;
    }

    .project-item {
        padding: var(--tiny-padding);
    }
}

@media screen and (max-width: 600px) {
    /* Generics */
    h6 {
        text-transform: uppercase;
        font-size: var(--tiny-font-size);
        margin-top: 0.4rem;
        color: #aaa;
    }

    .generic-container {
        flex-direction: column;
    }

    .generic-container .left-container {
        width: 100%;
        padding: 0.4rem;
        align-items: center;
        text-align: center;
        border-top: 1px solid var(--gray-font-color);
    }

    .generic-container .right-container {
        width: 100%;
        padding: 0.4rem;
        align-items: center;
        text-align: center;
        border-top: 1px solid var(--gray-font-color);
    }

    .row {
        flex-direction: column;
        padding: var(--tiny-padding);
    }

    .progress-bar {
        width: 100%;
        height: 0.24rem;
        background-color: gray;
        border-radius: 1rem;
        margin-bottom: var(--minimal-margin);
    }

    .progress-bar::before {
        content: "";
        background-color: var(--primary-accent-color);
        width: calc(var(--width, 0) * 1%);
        height: 0.24rem;
        min-width: 0.4rem;
        max-width: calc(var(--progress, 100) * 1%);
        border-radius: 1rem;
        display: flex;
    }

    /* Header */

    .header-container {
        height: auto;
    }

    .header-container .left-container,
    .header-container .right-container {
        border: unset;
    }

    .header-container .left-container img {
        border: 1.2px solid white;
        border-radius: 100%;
        padding: 1rem;
        margin-top: 1.2rem;
    }

    .first-name {
        font-size: var(--large-font-size);
    }

    .last-name {
        font-size: var(--large-font-size);
    }

    .short-description {
        font-size: var(--medium-font-size);
        padding: 0;
    }

    .extra-detail {
        padding: 1rem;
    }

    .more-details {
        flex-direction: column;
        position: relative;
        margin: 0;
        align-items: center;
        line-height: 0;
    }

    .more-details-title {
        margin: 1rem;
        font-size: var(--small-font-size);
        font-weight: 100;
        color: var(--gray-font-color);
    }

    /* About Me */
    .about-container .right-container p {
        padding: 0.4rem;
        line-height: var(--default-line-height);
    }

    /* Publications */
    .pub-item-rectangle,
    .pub-item-circular {
        align-items: center;
        margin: 2rem;
    }

    .pub-description {
    }

    /* Project */
    .project-item {
        text-align: left;
    }

    /* Skills */
    .skills-container {
        text-align: left;
    }

    /* Experience & Education */

    .experiences p {
        width: 100%;
        padding: var(--tiny-padding) 0.8rem;
        color: #bbbbbb;
        text-align: left;
    }

    .experience-titbit {
        width: 100%;
        padding: 0.5rem;
        text-align: left;
    }

    .educations p {
        width: 100%;
        padding: var(--tiny-padding) 0.8rem;
        color: #bbbbbb;
        text-align: left;
    }

    .education-titbit {
        width: 100%;
        padding: 0.5rem;
        text-align: left;
    }

    .educations::after {
        position: absolute;
        content: unset;
    }

    .experience-titbit::before {
        content: "";
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
        left: -0.55rem;
        top: 0.75rem;
        box-shadow: 0 0 0 6px var(--subtle-dark-background);
        background-color: var(--primary-accent-color);
    }

    .education-titbit::before {
        content: "";
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
        left: -0.55rem;
        top: 0.9rem;
        box-shadow: 0 0 0 6px var(--subtle-dark-background);
        background-color: var(--primary-accent-color);
    }
}
